@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-image: linear-gradient(#FDB0C0, white);
  background-repeat: no-repeat;
  background-size: 200% 150%;
  font-family: 'LofiFont-2', sans-serif;
}

@font-face {
  font-family: 'LofiFont-2';
  src: url('assets/LifeSavers-Bold.ttf');
}

input[type=range]::-webkit-slider-runnable-track {
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  background: #FDB0C0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
